.progress-widget-container {
    background-color: rgb(40, 40, 40);
    padding: 7vh 1vh 1vh 3vh;
    border-radius: 10px;
    margin-bottom: 1.3vh;
}

.hbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.progress-widget {
    position: relative;
}

.tooltip {
    position: absolute;
    z-index: 999;
    font-size: 11px;
    width: 180px;
    height: 30px;
    background-color: rgb(62, 61, 61);
    border-color: rgb(81, 81, 81);
    border-radius: 5px;
    border-width: 0.25px;
    border-style: solid;
    pointer-events: none;
    visibility: visible;
}

.hidden {
    visibility: hidden;
}