<!-- <svg>
    <g *ngFor="let month of data; let i = index">
        <ng-container *ngIf="initialize_x() as x">
            <ng-container *ngIf="initialize_date() as date">

                <g *ngFor="let day of month.days">
                    {{ x = incerement_x(x, ) }}
                    <text x="10" y="{{ 20 * (i * 31 + j) }}">
                        Month: {{ month.month }}/{{ month.year }}, Day: {{ day }}, x: {{ x }}
                    </text>
                </g>
            </ng-container>
        </ng-container>
    </g>
</svg> -->